* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  transition: all 200ms ease-out;
}
button {
  font-family: "League Spartan", sans-serif;
}
.light {
  --background: white;
  --background-dark: #f1eed8;
  --background-main: white;
  --text-color: rgb(44, 44, 44);
  --text-color-light: rgb(95, 95, 95);
  --primary: #540375;
  --logo: rgb(248, 245, 250);
  --light-hover: #c3acd0;
  --dark-hover: #64038a;
  --btn-1: rgb(240, 238, 236);
  --btn-2: #ffbf00;
  --btn-3: #ff7000;
  --btn-4: #10a19d;
}

.dark {
  --background: rgb(67, 67, 71);
  --background-dark: rgb(46, 46, 49);
  --background-main: rgb(56, 56, 59);
  --text-color: rgb(202, 201, 201);
  --text-color-light: rgb(156, 155, 155);
  --primary: rgb(15, 1, 29);
  --logo: blueviolet;
  --light-hover: #6a5c72;
  --dark-hover: #36014b;
  --btn-1: rgb(97, 97, 96);
  --btn-2: #9e7703;
  --btn-3: #9e4704;
  --btn-4: #085f5c;
}
